html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, main, footer{
    flex-shrink: 0;
}

.hero {
    background-color: skyblue;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.content {
    background-color: grey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around
}


.site-header__wrapper {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.site-footer {
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}